/* Last modified by John R. Pastori on 06/01/2009 using ColdFusion Studio. */

A{

	text-decoration: none;

}


A:active{

	color: green;

	Text-Decoration: none;

}


A:hover{

	color : maroon;

	Text-Decoration: none;

}

A:link{


	color: 000080;

	Text-Decoration: none;

}


A:visited{

	color: purple;

	Text-Decoration: none;

}


BIG{

	font-size: 120%;

}


BODY{

	background : white;
	
	color: black;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 10pt;

	text-decoration: none;

}


COM{

	background: white;
	
	color: blue;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 10pt;

	text-align: left;
		
	text-decoration: none;

}


DIV{

	background: white;

	color: black;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 8pt;

	display: inline;


}


FIELDSET{

	border: 1px solid black;

	margin: 5px;

}


H1{

	background: white;

	color: darkgreen;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 24pt;

	font-weight: bold;

}


H2{

	background-color: lightyellow;

	color: blue;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 16pt;

	text-align: center;

	display: inline;

}


H3{

	background: lightyellow;

	color: green;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 12pt;

	display: inline;

}


H4{

	background-color: lightyellow;

	color: red;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 8pt;

	font-weight: bold;

	display: inline;

}


H5{

	background-color: white;

	color: blue;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 8pt;

	font-weight: bold;

	display: inline;

}


INPUT{

	font-family: Verdana,Arial,Helvetica,sans-serif;

	display: inline;

	margin: 4px;

}


LABEL{

	font-family: Verdana,Arial,Helvetica,sans-serif;

	display: inline;

	margin: 4px;

}


.LABEL_hidden{
	position:absolute;
	left:0px;
	top:-100px;
	width:1px; 
	height:1px; 
	overflow:hidden;
}


LEGEND{

	border: 1px solid black;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-weight: bold;

	color: blue;

}


PRE{

	background: white;

	color: black;

	font-family: Courier;

	font-size: 10pt;

	text-decoration: none;

}


STRONG{

	font-weight: bold;

}


TH{

	background-color: lightyellow;

	color: darkgreen;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 10pt;

	font-weight: bold;

}

.TH_negate{

	background-color: lightyellow;

	color: black;

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size: 8pt;

	font-weight: bold;

}

TEXTAREA{

	font-family: Verdana,Arial,Helvetica,sans-serif;

	display: inline;

	margin: 4px;

}


img.tcalIcon {
	cursor: pointer;
	margin-left: 1px;
	vertical-align: middle;
}


/* calendar container element */
div#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 158px;
	padding: 2px 0 0 0;
}


/* all tables in calendar */
div#tcal table {
	width: 100%;
	border: 1px solid silver;
	border-collapse: collapse;
	background-color: white;
}


/* navigation table */
div#tcal table.ctrl {
	border-bottom: 0;
}


/* navigation buttons */
div#tcal table.ctrl td {
	width: 15px;
	height: 20px;
}


/* month year header */
div#tcal table.ctrl th {
	background-color: white;
	color: black;
	border: 0;
}


/* week days header */
div#tcal th {
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
	padding: 3px 0;
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	background-color: gray;
	color: white;
}


/* date cells */
div#tcal td {
	border: 0;
	border-collapse: collapse;
	text-align: center;
	padding: 2px 0;
	font-family: tahoma, verdana, arial;
	font-size: 11px;
	width: 22px;
	cursor: pointer;
}


/* date highlight
   in case of conflicting settings order here determines the priority from least to most important */
div#tcal td.othermonth {
	color: silver;
}


div#tcal td.weekend {
	background-color: #ACD6F5;
}


div#tcal td.today {
	border: 1px solid red;
}


div#tcal td.selected {
	background-color: #FFB3BE;
}


/* iframe element used to suppress windowed controls in IE5/6 */
iframe#tcalIF {
	position: absolute;
	visibility: hidden;
	z-index: 98;
	border: 0;
}


/* transparent shadow */
div#tcalShade {
	position: absolute;
	visibility: hidden;
	z-index: 99;
}


div#tcalShade table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
}


div#tcalShade table td {
	border: 0;
	border-collapse: collapse;
	padding: 0;
}