BODY {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
P {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
TABLE {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
TD {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
TH {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
OL {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
UL {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
A {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
DL {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
DT {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
DD {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
BLOCKQUOTE {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
CAPTION {
	FONT-SIZE: small; COLOR: black; LINE-HEIGHT: 1.25; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
A {
	TEXT-DECORATION: underline
}
A:link {
	COLOR: #630; BACKGROUND-COLOR: white
}
A:visited {
	COLOR: #963; BACKGROUND-COLOR: white
}
A:hover {
	COLOR: #f60; BACKGROUND-COLOR: white
}
A:active {
	COLOR: #f60; BACKGROUND-COLOR: white
}
A.glossary-link {
	BORDER-BOTTOM: 1px dotted; TEXT-DECORATION: none
}
H1 {
	COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H2 {
	COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H3 {
	COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H4 {
	COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H1 {
	BORDER-RIGHT: #cc9 0px solid; BORDER-TOP: #cc9 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 1.6em; BORDER-LEFT: #cc9 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cc9 1px solid
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
PRE {
	FONT-SIZE: 1em; FONT-FAMILY: "Courier New", Courier, monospace
}
CODE {
	FONT-SIZE: 1em; FONT-FAMILY: "Courier New", Courier, monospace
}
CODE {
	COLOR: #369; BACKGROUND-COLOR: white
}
CODE .code-comment {
	COLOR: black; BACKGROUND-COLOR: white
}
A:link CODE {
	COLOR: #630; BACKGROUND-COLOR: white
}
A:visited CODE {
	COLOR: #963; BACKGROUND-COLOR: white
}
A:hover CODE {
	COLOR: #f60; BACKGROUND-COLOR: white
}
A:active CODE {
	COLOR: #f60; BACKGROUND-COLOR: white
}
CAPTION {
	FONT-WEIGHT: bold; WIDTH: auto; TEXT-ALIGN: center
}
DT {
	FONT-WEIGHT: bold
}
TD {
	VERTICAL-ALIGN: top
}
TH {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: bottom; COLOR: #369; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
TABLE.table-border {
	BORDER-RIGHT: #cc9 1px solid; BORDER-TOP: #cc9 1px solid; BORDER-LEFT: #cc9 1px solid; BORDER-BOTTOM: #cc9 1px solid
}
TABLE.table-border TD {
	BORDER-RIGHT: #cc9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cc9 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cc9 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cc9 1px solid; BACKGROUND-COLOR: white
}
TABLE.table-border TH {
	BORDER-RIGHT: #cc9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cc9 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cc9 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #cc9 1px solid; BACKGROUND-COLOR: white
}
TABLE.table-border TH.table-header-border-left {
	COLOR: #369; BACKGROUND-COLOR: #cc9
}
TABLE.table-border TH.table-header-border-middle {
	COLOR: #369; BACKGROUND-COLOR: #cc9
}
TABLE.table-border TH.table-header-border-right {
	COLOR: #369; BACKGROUND-COLOR: #cc9
}
TABLE.table-border TH.table-header-border-left {
	BORDER-RIGHT: white 1px solid; BORDER-LEFT: #cc9 1px solid; COLOR: black; BACKGROUND-COLOR: #cc9
}
TABLE.table-border TH.table-header-border-middle {
	BORDER-RIGHT: white 1px solid; BORDER-LEFT: white 1px solid; COLOR: black; BACKGROUND-COLOR: #cc9
}
TABLE.table-border TH.table-header-border-right {
	BORDER-RIGHT: #cc9 1px solid; BORDER-LEFT: white 1px solid; COLOR: black; BACKGROUND-COLOR: #cc9
}
SPAN.gui-object {
	FONT-WEIGHT: bold
}
SPAN.gui-object-action {
	FONT-WEIGHT: bold
}
SPAN.gui-object-title {
	
}
P.horizontal-rule {
	BORDER-RIGHT: #cc9 0px solid; BORDER-TOP: #cc9 0px solid; MARGIN-BOTTOM: 4ex; BORDER-LEFT: #cc9 0px solid; WIDTH: 100%; BORDER-BOTTOM: #cc9 1px solid
}
DIV.zz-skip-header {
	PADDING-RIGHT: 0px; MARGIN-TOP: -2px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV.zz-skip-header A:link {
	FONT-SIZE: 0.2ex; COLOR: white; LINE-HEIGHT: 1px; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
DIV.zz-skip-header A:visited {
	FONT-SIZE: 0.2ex; COLOR: white; LINE-HEIGHT: 1px; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
DIV.zz-skip-header A:hover {
	FONT-SIZE: 0.2ex; COLOR: white; LINE-HEIGHT: 1px; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
DIV.zz-skip-header A:active {
	FONT-SIZE: 0.2ex; COLOR: white; LINE-HEIGHT: 1px; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
TD.zz-nav-header-cell {
	MARGIN-TOP: 0ex; FONT-WEIGHT: normal; FONT-SIZE: 0.95em; VERTICAL-ALIGN: top; WIDTH: 99%; COLOR: black; PADDING-TOP: 0ex; BACKGROUND-COLOR: white; TEXT-ALIGN: left
}
A.zz-nav-header-link {
	FONT-SIZE: 0.95em
}
TD.zz-nav-button-cell {
	PADDING-RIGHT: 4px; MARGIN-TOP: 0ex; PADDING-LEFT: 4px; VERTICAL-ALIGN: top; WIDTH: 1%; PADDING-TOP: 0ex; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
A.zz-nav-button-link {
	FONT-SIZE: 0.9em
}
DIV.zz-nav-footer-menu {
	MARGIN-TOP: 2ex; MARGIN-BOTTOM: 4ex; WIDTH: 100%; TEXT-ALIGN: center
}
P.zz-legal-notice {
	FONT-SIZE: 0.85em
}
A.zz-legal-notice-link {
	FONT-SIZE: 0.85em
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.95em; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.95em; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
H6 {
	FONT-WEIGHT: normal
}
TD LI P {
	DISPLAY: inline
}
.bold {
	FONT-WEIGHT: bold
}
.codeinlinebold {
	FONT-WEIGHT: bold
}
.syntaxinlinebold {
	FONT-WEIGHT: bold
}
.term {
	FONT-WEIGHT: bold
}
.glossterm {
	FONT-WEIGHT: bold
}
.glossaryterm {
	FONT-WEIGHT: bold
}
.keyword {
	FONT-WEIGHT: bold
}
.msg {
	FONT-WEIGHT: bold
}
.msgexplankw {
	FONT-WEIGHT: bold
}
.msgactionkw {
	FONT-WEIGHT: bold
}
.notep1 {
	FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
.codeinlineitalic {
	FONT-STYLE: italic
}
.syntaxinlineitalic {
	FONT-STYLE: italic
}
.variable {
	FONT-STYLE: italic
}
.bolditalic {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.codeinlineboldital {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.syntaxinlineboldital {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.titleinfigure {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.titleinexample {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.titleintable {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.titleinequation {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.bridgehead {
	FONT-WEIGHT: bold; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.titleinrefsubsect {
	FONT-WEIGHT: bold; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.subhead1 {
	FONT-WEIGHT: bold; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.subhead2 {
	FONT-WEIGHT: bold; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.subhead3 {
	FONT-WEIGHT: bold; COLOR: #369; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white
}
.titleinrefsubsect {
	FONT-SIZE: 1.1em
}
.subhead1 {
	FONT-SIZE: 1.1em
}
.subhead2 {
	FONT-SIZE: 1em
}
.subhead3 {
	DISPLAY: inline; FONT-SIZE: 0.95em
}
.underline {
	TEXT-DECORATION: underline
}
.superscript {
	VERTICAL-ALIGN: super
}
.subscript {
	VERTICAL-ALIGN: sub
}
.listofeft {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.betadraft {
	COLOR: #f00; BACKGROUND-COLOR: white
}
.betadraftsubtitle {
	FONT-WEIGHT: bold; COLOR: #f00; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
.comment {
	FONT-WEIGHT: bold; COLOR: #080; BACKGROUND-COLOR: white
}
.copyrightlogo {
	FONT-SIZE: 0.85em; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.tocsubheader {
	LIST-STYLE-TYPE: none
}

@media All    
{
 {
	LINE-HEIGHT: 1.2; BACKGROUND-COLOR: transparent
}
BODY {
	COLOR: black; BACKGROUND-COLOR: white
}

}

@media Print    
{
BODY {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
P {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
TABLE {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
TD {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
TH {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
OL {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
UL {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
A {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
DL {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
DT {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
DD {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
BLOCKQUOTE {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
CAPTION {
	FONT-SIZE: 11pt; FONT-FAMILY: "Times New Roman", Times, serif
}
H1 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
H2 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
H3 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
H4 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
H5 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
H6 {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
TH {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
THEAD TD {
	COLOR: black; FONT-FAMILY: Arial, Helvetica, serif; BACKGROUND-COLOR: white
}
DIV.zz-skip-header {
	DISPLAY: none
}
CODE {
	COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
A:link {
	COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
A:visited {
	COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
A:hover {
	COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}
A:active {
	COLOR: black; BACKGROUND-COLOR: white; TEXT-DECORATION: none
}

}
