A:hover {
	COLOR: #cc0033
}
.head {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.homehead {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.producthead {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.subhead1 {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.body1 {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.subhead2 {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.body2 {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.address {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.subhead1_home {
	COLOR: #ffffff; FONT-FAMILY: arial, verdana, geneva, sans-serif; TEXT-DECORATION: none
}
.footernav {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.bread {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.legal {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.subnav {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.search {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.footnote {
	FONT-FAMILY: arial, verdana, geneva, sans-serif
}
FONT.subnav {
	COLOR: #cccc99; FONT-FAMILY: arial, verdana, geneva, sans-serif
}
A.subnav {
	COLOR: #ffffff; FONT-FAMILY: arial, verdana, geneva, sans-serif; TEXT-DECORATION: none
}
FONT.footernav {
	COLOR: #cccc99; FONT-FAMILY: arial, verdana, geneva, sans-serif
}
A.footernav {
	COLOR: #ffffff; FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.button {
	FONT-WEIGHT: bold; FONT-FAMILY: arial, verdana, geneva, sans-serif
}
.form {
	BACKGROUND-COLOR: #ffffff
}
.form:unknown {
	BACKGROUND-COLOR: #ccd6eb
}
.indent {
	MARGIN-LEFT: 20px
}
